asgiref==3.12.1
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.17.1
drf-spectacular==0.30.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
sqlparse==0.5.5
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.7.0
