@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-background: #f8fafc;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}
